* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eaeaea;
    margin: 0;
    font-size: 1em;
}

body {
    background-color: #244f5a;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 6em;
    margin: 0;
    color: #33c592;
    text-shadow: #9bffdc96 1px 0 15px;
}

.about {
    writing-mode: vertical-rl;
    transform:scale(-1);
    color: #33c592;
    font-size: 0.25em;
}

.no-underline {
    text-decoration: none;
}

.no-letter-spacing {
    letter-spacing: normal;
}

h2 {
    font-size: 1.5em;
    letter-spacing: 0.08em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-weight: 550;
    font-size: 1em;
}

p {
    margin: 0.5em 0;
}

.home-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.home-nav::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: no-repeat center/100% url(homebg.jpeg);
    opacity: 0.3;
}

.home-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-intro{
    margin: 2em 0 1.5em 0;
    text-align: center;
}

#search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.home {
    max-width: 1250px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fav-shows {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 10px;
    justify-content: center;
}

.top-shows {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fav-image {
    width: 150px;
    height: auto;
    margin: 10px;  
}

.fav-image:hover {
    cursor: pointer;
}

#list-of-shows {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 10px;
    justify-content: center;
}

.list-item {
    list-style: none;
}

.li-image {
    width: 240px;
    height: auto;
    margin: 10px;  
}

.li-image:hover {
    cursor: pointer;
}

.box-no-img {
    height: 337.15px;
    background-color: #67defc34;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-name-li {
    font-weight: 700;
    text-align: center;
    color: #33c592;
    letter-spacing: normal;
}

.main-result {
    max-width: 1250px;
    margin: 30px auto;
}

.episode-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
}

.episode-image {
    width: 200px;
    height: auto;
    margin: 10px;  
}

@media (min-width: 640px) {
    .episode-container {
        flex-direction: row;
        align-items: start;
    }
}

